<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suolashare.file.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.suolashare.file.domain.user.UserBean" useGeneratedKeys="true" keyProperty="userid">
        INSERT INTO userinfo (username, salt, PASSWORD,  telephone, sex, imageUrl, registerTime, available)
        VALUES (#{username},#{salt}, #{password}, #{telephone}, #{sex}, #{imageUrl}, #{registerTime}, 1);
    </insert>

    <insert id="insertUserRole" parameterType="Long">
        INSERT INTO user_role (userid, roleId)
        VALUES (#{param1}, #{param2});
    </insert>

    <select id="selectRoleListByUserId" resultType="com.suolashare.file.domain.user.Role">
        select b.*
        from user_role a
        left join role b on b.roleid = a.roleid
        where userid = #{userid}
    </select>

    <select id="selectSaltByTelephone" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT salt
        FROM userinfo
        where telephone = #{telephone}
    </select>

    <select id="selectUserByTelephoneAndPassword" parameterType="java.lang.String"
            resultType="com.suolashare.file.domain.user.UserBean">
        select userid
        from userinfo
        where telephone = #{telephone}
        AND password = #{password}
    </select>

</mapper>